.headContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 290%;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

.headInfo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.highlight {
  color: rgb(33, 20, 214);
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.searchWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}
