.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 99%;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}

.head-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.head-info:hover {
  cursor: pointer;
}

.highlight {
  color: rgb(33, 20, 214);
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.search-wrapper {
  flex-grow: 1;
  display: flex;
  width: 100%;
}
