.subreddit-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.sub-list {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: 200%;
  flex-direction: column;
  margin-right: 15px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.post-detail {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  left: 50%;
  max-height: 80vh;
  max-width: 800px;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
}

.post-image {
  font-size: 20px;
  margin: 10px 0px;
  height: 300px;
  width: 300px;
}

.post-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 10px;
}

.close-button {
  background-color: #ff033e;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: #ff7f7f;
  color: black;
  transition: background-color 0.3s ease;
}

.comment-button {
  display: flex;
  color: white;
  background-color: rgb(33, 20, 214);
  align-items: end;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.comment-button:hover {
  background-color: skyblue;
  transition: background-color 0.3s ease;
  color: black;
}

@media screen and (max-width: 850px) {
  .post-detail {
    width: 75%;
    max-width: 700px;
    max-height: 70vh;
  }
}
