.subreddit-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.sub-list {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: 200%;
  flex-direction: column;
  margin-right: 15px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}
